@model VendorViewModel

@if (Model != null)
{
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Address.PostCode)</th>
                <th>@Html.DisplayNameFor(m => m.Address.Street)</th>
                <th>@Html.DisplayNameFor(m => m.Address.Complement)</th>
                <th>@Html.DisplayNameFor(m => m.Address.Number)</th>
                <th>@Html.DisplayNameFor(m => m.Address.City)</th>
                <th>@Html.DisplayNameFor(m => m.Address.Region)</th>
                <th>@Html.DisplayNameFor(m => m.Address.State)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Address.PostCode</td>
                <td>@Model.Address.Street</td>
                <td>@Model.Address.Complement</td>
                <td>@Model.Address.Number</td>
                <td>@Model.Address.City</td>
                <td>@Model.Address.Region</td>
                <td>@Model.Address.State</td>
                <td class="text-right">
                    <a supress-by-action="Edit,GetAddress" asp-action="UpdateAddress" asp-route-id="@Model.Id" data-modal="" class="btn btn-warning">
                        <span title="Edit" class="fa fa-pencil-alt"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}


