@model IEnumerable<VendorViewModel>
@using DevEK.Business.Models.Enums
@using System;
@using DevEK.App.Extensions;


@{
    ViewData["Title"] = "List of Vendors";
}

<h4>@ViewData["Title"]</h4>

<div class="backgroundWhiteBorder">

    <p> <a asp-action="Create" class="btn btn-primary">Create</a> </p>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.IdentifiyDocument)</th>
                <th>@Html.DisplayNameFor(m => m.VendorType)</th>
                <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@this.FormatDocumentId(item.VendorType, item.IdentifiyDocument)</td>
                    <td>@(Enum.GetName(typeof(VendorType), item.VendorType))</td>
                    <td>@item.IsActive</td>
                    <td class="text-right">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

